doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/add.css', type='text/css' )
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700&amp;subset=latin-ext')
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext", rel="stylesheet")
  body
  nav
    .top
      span.logo Social
        span.logo2 App
      ul(class="menu1")
        li
          a(href="/") Feed
        li
          a(href="add") Add
      ul(class="menu2")
        li
          .fb-login-button(
            data-width="240", data-max-rows="1", data-size="large",
            data-button-type="continue_with", data-show-faces="false",
            data-auto-logout-link="true" data-use-continue-as="true")

  .container
    .searchContainer
      //h3.searchText Search for your favourite movie
      form#searchForm
        .row
          span.disapear Search for your favourite movie
          input(type='text', class='field', id='searchBar', placeholder='Star Wars')

  .container2
    .films

    script(src='/javascripts/addFilm.js', type='text/javascript')
    script(src="https://unpkg.com/axios/dist/axios.min.js")
