:root {
  --pink: rgb(209, 16, 172);
  --blue: rgb(9, 224, 239);
  --matBlue: #2196F3;
  --darkBlue: #2C3E50;
  --green: #18BC9C;
  --lightGrey: #ECF0F1;
}


body{
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

ul > li{
  padding: 20px;
}

ul > li > a{
  text-decoration: none;
  font-size: 23px;
  padding: 10px 30px;
  color: white;
}

.top{
  width: 100%;
  background-color: var(--darkBlue);
  height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu1{
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 50%;
  padding-left: 20px;
}


.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  padding-left: 40px;
  padding-right: 30px;
  font-family: 'Lato', sans-serif;
  color: white;

}
.logo2{color: var(--matBlue);; text-decoration: underline;}

a{
  transition: all 0.15s ease-in-out;
}
.top a:hover{
  color: var(--matBlue);
  text-decoration: underline;
}

.menu2{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 50%;
  padding-right: 40px;
}

.container{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.eachFilmContainer{
  margin: 10px 0;
  background-color: var(--lightGrey);
  padding: 10px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.line1{
  display: flex;
  flex-direction: row;
}

.basic{
  padding-left: 7px;
}

.basic span:first-of-type{
  display: block;
  transform: translateY(3px);
  margin-top: 2px;
}

.basic span:last-of-type{
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

.line2{
  display: flex;
  flex-direction: row;
  padding-top: 7px;
}

.line3{
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.fbImg img{
  border-radius: 100%;
}

.description{
  width: 510px;
  overflow: hidden;
  padding: 0 10px;
  text-align: justify;
}

.filmImg img{
  width: 172px;
  height: 240px;
}

.displayNone{
  display: none;
}

.comments{
  margin-left: auto;
  margin-right: auto;
  background-color: var(--lightGrey);
  padding: 10px;
  width: 700px;
  border-radius: 4px;
}

input.addComment{
  border: none;
	border-bottom: 1px solid grey;
	width: 700px;
	outline: none;
	font-size: 18px;
  background-color: var(--lightGrey)
}

.move{
  top: 0;
  transform: translate(0, -14px);
  color: var(--matBlue) !important;
  font-size: 12px;
}
input::-webkit-datetime-edit{
  color: transparent;
}
input:focus::-webkit-datetime-edit{
  color: #000;
}

input::-moz-datetime-edit{
  color: transparent;
}
input:focus::-moz-datetime-edit{
  color: #000;
}

input::placeholder {
  color: transparent;
  transition: all 0;
}

input:focus::placeholder{
  color: grey;
  transition: all 1s;
}

input.addComment:focus{
	border-bottom: 2px solid var(--matBlue) !important;
	cursor:text !important;
}
input.addComment:hover{
	border-bottom: 2px solid var(--darkBlue);
  cursor: pointer;
}

span.disapear{
	position: absolute;
	color: grey;
	transition: all 0.3s;
	pointer-events: none;
}

.row{
	box-sizing: border-box;
	height: 48px;
	position: relative;
  top: 17px;
}

.eachComment{
  display: flex;
  flex-direction: row;
  margin-top: 3px;
}

.eachCommentFbPicture img{
  border-radius: 50%;
  margin-right: 6px;
}

span.name{
  color: var(--matBlue);
  font-weight: 700;  padding-right: 2px;
}

button.share{
  width: 88px;
  height: 38px;
  background-color: var(--matBlue);
  border-radius: 2px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align: center;
  font-size: 18px;
  line-height: 2;
  border: none;
}
button.share:hover{
  background-color: #1A77C9;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
  cursor: pointer;
}
button.share:active{
  background-color: #1966B8;
}

.filmImg img{
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  border-radius: 2px;
}




.control {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 12px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 16px;
    left: 22px;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.control-radio .control_indicator {
    border-radius: undefined%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background:var(--matBlue);
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #1A77C9;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

span.likesCounter{
  margin-left: 14px;
  top: 2px;
  position: relative;
  font-size: 30px;
}
